
.navlist {
    display: flex;
    flex: 3;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    gap: 10%;
}
.navitem{
}

.title{
    flex: 3;
    font-size: 2.5rem;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 2% 10%;
}